</br>
</br>    

    <footer class="text-muted">
      <div class="container">
        <p class="float-right">
          <a href="#" class="btn btn-secondary">Back to top</a>
        </p>
        <p>This work is based on observations with the 100-m telescope of the MPIfR (Max-Planck-Institut für Radioastronomie) at Effelsberg.</p>
      </div>
    </footer>