</br>
</br>    

    
<footer class="bg-light text-center text-lg-start">
  <div class="container p-4 text-center">
    <div class="row">
      <div class="col-lg-4 col-md-12 mb-4 mb-md-0 text-center ">
        <%= link_to image_tag("footer/logo_astro", height: "70"), "https://www.physik.uni-wuerzburg.de/astro/startseite/" %>
      </div>
      <div class="col-lg-4 col-md-12 mb-4 mb-md-0 text-center ">
        <%= link_to image_tag("footer/mpifrlogo.gif", height: "70"), "https://www.mpifr-bonn.mpg.de/" %>
      </div>
      <div class="col-lg-4 col-md-12 mb-4 mb-md-0 text-center ">
        <%= link_to image_tag("footer/Logo_JMU", height: "70"), "https://www.uni-wuerzburg.de/startseite/" %>
      </div>     
    </div>
  </div>

  <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
    © 2021 Copyright:
    University of Würzburg
    <p>This work is based on observations with the 100-m telescope of the MPIfR (Max-Planck-Institut für Radioastronomie) at Effelsberg.</p>
  </div>
</footer>